FHIR_SERVER_BASE_URL= https://devexcite2.services.brown.edu/fhir/R4/
FHIR_USERNAME=your_username
FHIR_PASSWORD=your_password
FHIR_PORT=5002

# R Paths (Required for Mac/Local laptops. LEAVE BLANK OR COMMENTED OUT FOR OSCAR)
# Example: R_HOME=/Library/Frameworks/R.framework/Resources
R_HOME=
R_USER=