FHIR_SERVER_BASE_URL=http://localhost:8888/fhir
FHIR_USERNAME=your_username
FHIR_PASSWORD=your_password
FHIR_PORT=5002
R_HOME=/Library/Frameworks/R.framework/Resources
R_USER=/Library/Frameworks/R.framework/Versions/4.3-arm64/Resources/library
